
/* General Styles */

body {
  margin: 0;
  box-sizing: border-box;
  color: #e0d19e;
  background: radial-gradient(circle,rgba(36, 36, 36, 1) 0%, rgba(53, 53, 53, 1) 100%, rgba(64, 64, 64, 1) 100%);
  font-family: "Jost";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.small-image {
  width: 150px;
  height: auto;
}

h2 {
  border-bottom: 2px solid ;
  letter-spacing: 3px;
  font-size: 1.7rem;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1rem;
  min-height: 3rem;
  margin: 0;
  overflow: hidden;
  color: #afa000;
}

p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.yellow {
  color: #afa000;
}

.text-shadow {
  text-shadow: 2px 2px 2px black;
}

ul {
  list-style: none;
  padding: 0;
}

/* Header, Main and Footer Styles */

.app-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background: radial-gradient(circle,rgba(31, 57, 57, 1) 0%, rgba(33, 93, 93, 1) 100%, rgba(33, 93, 93, 1) 100%);
  height: 5rem;
  border-top: 3px solid #1f1f1f;
  border-bottom: 3px solid #1f1f1f;
  transition: transform 0.5s ease;
}

.app-header.visible {
    transform: translateY(0);
}

.app-header.hidden {
    transform: translateY(-100%);
}

.header-container {
  width: 90%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container h1 {
  margin: 0;
  font-family: "Anton";
  font-size: 2rem;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px black;
}

.home-link {
  text-decoration: none;
  color: #e0d19e;
}

.navigation-container {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  letter-spacing: 3px;
  color: #e0d19e;
  padding: 5px 10px;
  transition: text-decoration 0.3 s ease;
}

.nav-link:hover {
  border-bottom: 2px solid #e0d19e;
}

.nav-link.active {
  border-bottom: 2px solid #e0d19e;
}

.main-container {
  display: flex;
  justify-content: center;
  min-height: 75rem;
}

.section-container {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-container {
  height: 4rem;
  background: radial-gradient(circle,rgba(31, 57, 57, 1) 0%, rgba(33, 93, 93, 1) 100%, rgba(33, 93, 93, 1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #1f1f1f;
  border-bottom: 3px solid #1f1f1f;
}

.foot-notes {
  margin-left: 15px;
  font-size: 1rem;
}

.socialmedia-icons {
  margin-right: 20px;
}

.fa {
  font-size: 35px;
  color: #e0d19e;
  text-decoration: none;
  margin-left: 15px;
}

/* Form Styles */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 2rem 0;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  background-color: rgb(31 31 31);
}

input::placeholder {
  color: rgb(173, 173, 173);
  font-size: 1rem;
  letter-spacing: 2px;
}

select {
  padding: 15px;
  border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #c0c0c0;
  background-color: rgb(31 31 31);
}

button {
  min-width: 150px;
  padding: 15px;
  border-radius: 50px;
  font-size: 1rem;
  background-color: rgb(31 31 31);
  color: #c0c0c0;
  transition: background-color 0.2s ease-in;
}

button:hover {
  background-color: #e0d19e;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(31 31 31);
}

/* Home Styles */

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 97%;
    background-color: rgb(31 31 31);
    padding: 20px;
}

.carousel-container::before,
.carousel-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.carousel-container::before {
    left: 0;
    background: linear-gradient(
        to right,
        rgba(36, 36, 36, 1),
        transparent
    );
}

.carousel-container::after {
    right: 0;
    background: linear-gradient(
        to left,
        rgba(36, 36, 36, 1),
        transparent
    );
}

.carousel-container.at-start::before {
    display: none;
}

.carousel-container.at-end::after {
    display: none;
}

.movie-row {
    display: flex;
    gap: 16px;
    transition: transform 0.4s ease;
}

.trending-movie-container {
    width: 220px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trending-movie-container p {
    font-size: 0.8rem;
    margin: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    z-index: 2;
    color: #e0d19e;
    background-color: #1f1f1f94;
    min-width: 80px;
    padding: 5px;
} 

.arrow:hover {
  background-color: #e0d09e91;
}

.carousel-container:hover .arrow {
    opacity: 1;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

/* Find Movies Styles */

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.movie-result-container {
  width: 450px;
  margin: 1rem 0;
  background-color: #1f1f1f;
  padding: 20px 0;
  border-radius: 10px;
  animation: fadeIn 0.8s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.movie-result-container:hover {
  box-shadow: 0 10px 20px rgba(230, 230, 230, 0.2);
}

.movie-result-container h4 {
  text-align: center;
}

.movie-result-container p {
  font-size: 1rem;
  margin: .5rem 0;
}

.movie-info-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.movie-list-poster {
  width: 38%;
  height: auto;
}

.movie-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-movie-button {
    width: 75px;
    font-size: 0.8rem;
  }

.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 20px;
}

.ranking-list {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
}

.ranking-list ol {
  width: 100%;
  padding-left: 15px;
}

.list-entry {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.list-entry p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.ranking-list ul {
  width: 60%;
}

.all-entry {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.all-entry p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* Revenue List Styles */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.data-table {
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 10px;
  margin-top: 2rem;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
  width: max-content;
}

thead {
  font-weight: bold;
  color: #afa000;
}

td {
  padding: 10px;
}

.highest {
  color: #31bd31;
}

.lowest {
  color: #e43b3b;
}

.add-button.disabled,
.add-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.data-value p {
  font-size: 1rem;
}

.people-ranking-list {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
}

.people-ranking-list ol {
  width: 100%;
  padding-left: 15px;
}

.people-list-entry {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.people-list-entry p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* People Trivia Styles */

.diagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.chart-container {
  width: 45%;
  margin-bottom: 1rem;
}

#results-chart-one .bar {
  --labels-size: 200px;
   --color: #6c2020; 
}

#results-chart-two .bar {
  --labels-size: 200px;
  --color: #6c2020; 
}

.clickable-cell {
  cursor: pointer;
}

.clickable-cell:hover {
  opacity: 0.75;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.poster-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.poster-container img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  display: block;

  transition: transform 0.35s ease;
}

.poster-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateX(-100%);
  transition: transform 0.35s ease;

  border-radius: 10px;
}

.poster-overlay p {
  color: #e0d19e;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-align: center;
}

.poster-container:hover .poster-overlay {
  transform: translateX(0);
}

/* Mutual Movies Styles */

.results-container {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Guessing Game Styles */

.guessing-container {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
}

.game-container {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 3rem;
}

.drag-container {
  border: 1px solid white;
  border-radius: 10px;
  width: 9rem;
  padding: 10px;
  margin-bottom: 5px;
}

.drag-container:hover {
  cursor: pointer;
  background-color: #5b5b5b;
}

.drag-container p {
  font-size: 1rem;
  margin: 0;
}

.drag-container.used {
  opacity: 0.4;
  background-color: #555;
  cursor: not-allowed;
}

.drag-container.used p {
  text-decoration: line-through;
}

.check-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.solution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 150px;
}

.drop-container {
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  width: 80%;
  overflow: hidden;
  height: 1.7rem;
}

.drop-container p {
  font-size: 1rem;
  margin: 0;
}

.score-button {
  width: 20%;
}

.correct {
  border: 2px solid green;
  background: #e6ffe6;
  color: black;
}

.wrong {
  border: 2px solid red;
  background: #ffe6e6;
  color: black;
}

/* media queries */

@media only screen and (max-width: 1368px) {
  .section-container {
    width: 90%;
  }
  .movie-result-container {
    width: 400px;
  }
  .movie-ranking-list {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .header-container {
    width: 95%;
  }
  .section-container {
    width: 98%;
    margin-top: 0;
    min-height: 75rem;
  }
}

@media only screen and (max-width: 940px) {
  .title-container h1 {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.3rem;  
  }
  input {
    width: 75%;
    padding: 10px;
    font-size: 0.8rem;
  }
  input::placeholder {
    font-size: 0.8rem;
  }
  select {
    padding: 10px;
    font-size: 0.8rem;
  }
  button {
    min-width: 100px;
    padding: 10px;
    font-size: 0.8rem;
  }
  .movie-result-container {
    width: 350px;
  }
  .movie-result-container p {
    font-size: 0.8rem;
  }
  .table-container{
    margin-top: 1rem;
  }
  td {
    font-size: 0.8rem;
  }
  ol {
    font-size: 1rem;
  }
  .list-entry p {
    font-size: 1rem;
  }
  .all-entry p {
    font-size: 1rem;
  }
  .people-list-entry p {
    font-size: 1rem;
  }
  .poster-container img {
    width: 175px;;
  }
  .drag-container {
    width: 10rem;
  }
  .drag-container p {
    font-size: 0.8rem;
  }
  .solution-container {
    width: 120px;
  }
  .small-image {
    width: 120px;
  }
  .drop-container {
    height: 1.2rem;
  }
  .drop-container p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 790px) {
  .title-container {
    width: 25%;
  }
  .title-container h1 {
    font-size: 1.2rem;
  }
  .navigation-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Mobile Menu */

.mobile-menu-container {
  display: none;
}

.menu-button {
  width: 50px;
  background: none;
  border: none;
  padding: 5px;
  color: #e0d19e;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 100%;
  background: rgba(41, 75, 75, 0.98);

  display: flex;
  flex-direction: column;

  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease;
  z-index: 1000;
}

.show-menu {
  max-height: 500px;
}

.mobile-nav-link {
  text-decoration: none;
  color: #e0d19e;
  padding: 1rem;
  border-bottom: 1px solid rgba(224, 209, 158, 0.3);
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.mobile-nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 640px) {
  p {
    font-size: 0.8rem;
  } 
  img {
    width: 160px;
  }
  h4 {
    font-size: 1rem;
    min-height: 2rem;
  }
  .app-header {
    height: auto;
  }
  .title-container {
    width: auto;
  }
  .title-container h1 {
    font-size: 1.7rem;
  }
  .navigation-container {
    display: none;
  }
  .mobile-menu-container {
    display: block;
  }
  form {
    width: 20rem;
    flex-direction: column;
  }
  .table-container{
    margin-top: 0;
  }
  td {
    font-size: 0.6rem;
  }
  ol {
    font-size: 0.8rem;
    padding: 0;
  }
  .lists-container {
    padding: 15px;
  }
  .ranking-list {
    width: 300px;
  }
  .ranking-list ul {
    width: 100%;
  }
  .list-entry {
    flex-direction: column;
    gap: 0;
  }
  .list-entry p {
    font-size: 0.8rem;
  }
  .all-entry p {
    font-size: 0.8rem;
  }
  .people-ranking-list {
    width: 300px;
  }
  .people-list-entry p {
    font-size: 0.8rem;
  }
  .chart-container {
    width: 90%;
  }
  .poster-container img {
    width: 150px;;
  }
  .guessing-container {
    margin-top: 0;
  }
  .game-container {
    gap: 10px;
    margin-top: 2rem;
  }
  .drag-container {
    width: 4rem;
    padding: 5px;
  }
  .drag-container p {
    font-size: 0.5rem;
  }
  .solution-container {
    width: 70px;
  }
  .small-image {
    width: 70px;
  }
  .drop-container {
    height: 1.2rem;
    padding: 7px;
  }
  .drop-container p {
    font-size: 0.5rem;
  }
  .footer-container {
    height: 3rem;
  }
  .foot-notes {
    font-size: 0.7rem;
  }
  .fa {
    font-size: 25px;
  }
}
